<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestId:-no-request}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="appLogLevel" source="logging.level.com.innovaschools" defaultValue="INFO"/>
    <springProperty scope="context" name="hibernateLogLevel" source="logging.level.org.hibernate" defaultValue="WARN"/>
    <springProperty scope="context" name="hibernateSqlLogLevel" source="logging.level.org.hibernate.SQL" defaultValue="WARN"/>

    <logger name="com.innovaschools" level="${appLogLevel}"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.hibernate" level="${hibernateLogLevel}"/>
    <logger name="org.hibernate.SQL" level="${hibernateSqlLogLevel}"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
